body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.todo
{
    text-align: center;
    background-color: rgb(114, 103, 204);
    border-radius: 5px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
}
.todo-body h1
{
    font-family:sans-serif;
    font-size: 30px;
    padding-top: 20px;
    color: white;
}
.todo .main-content
{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.todo .todo-icon
{
    width: 100px;
    height: 100px;
    align-items:normal;
}
.todo .input
{
    padding: 18px 22px;
    border: none;
    border-radius: 5px;
    font-size: 20px;    
}
.todo .btn
{
    padding: 18px 20px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600px;
    cursor: pointer;
    margin-left: 2px;
    background-color: #262626;
    color: white;
}
/* #3e4d6c */

.ul
{
    text-align: center;
}
.li-style
{
    width: fit-content;
    height: 30px;
    padding-left: 40px; /* Space for the image */
    background-size: 30px 30px; /* Adjust width and height */
    background-repeat: no-repeat; /* Prevent repeating */
    background-position: left center; /* Position the image */
    list-style: none;
    background-image: url('img/check.png');
}
.newEle
{
    text-align: center;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 15;
    margin:20px 50px;
    width: auto;
    font-size: 24px;
    font-weight: 600px;
    background-color: aliceblue;
}
.newEle .delBtn
{
    padding: 12px 20px;
    background-color: red;
    font-size: 20px;
    color:white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}